// @import url(./icon.scss);

html,
body,
#app {
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,ul{
  list-style: none;
  padding: 0;
  margin: 0;

}
html.dark {
  background: #121212;
}
